* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: #0ee9c4;
}

.list-unstyled {
    list-style: none;
}

header {
    min-height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    font-size: 25px;
    color: rgb(7, 7, 7);


    div {
        display: flex;
        background-color: rgb(175, 167, 51);

        ul.list-unstyled {
            display: flex;
            gap: 2rem;
            

            a {
                text-decoration: none;
                color: black;
            }

        }
    }
}

.debug main{
background-color: blue;
}

main{
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150px;

    div{
        display: flex;
        background-color: rgb(238, 8, 226)
    }
}



