* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: #0ee9c4;
}

.list-unstyled {
    list-style: none;
}

header {
    min-height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    font-size: 25px;
    color: rgb(7, 7, 7);


    div {
        display: flex;
        background-color: rgb(175, 167, 51);

        ul.list-unstyled {
            display: flex;
            gap: 2rem;


            a {
                text-decoration: none;
                color: black;
            }

        }
    }
}




.jumbotron
{
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150px;
    background-color: blue;

    div {
        display: flex;
        background-color: rgb(238, 8, 226)
    }
}



.invite-only 
{
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150px;
    background-color: rgb(255, 255, 255);

    div {
        display: flex;

        h2 {
            background-color: rgb(24, 138, 184);
            text-align: center;
        }

        p {
            background-color: rgb(194, 134, 186);
            text-align: center;

        }
    }
}

.community
{
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    background-color: rgb(156, 154, 154);

    div {
        display: flex;
        flex-direction: row-reverse;

        h2 {
            background-color: rgb(24, 138, 184);
            text-align: center;
        }

        p {
            background-color: rgb(194, 134, 186);
            text-align: center;

        }
    }
}

.fandom
{
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150px;
    background-color: rgb(255, 255, 255);

    div {
        display: flex;

        h2 {
            background-color: rgb(24, 138, 184);
            text-align: center;
        }

        p {
            background-color: rgb(194, 134, 186);
            text-align: center;

        }
    }
}

.technology
{
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150px;
    background-color: rgb(15, 88, 5);

    div {
        display: flex;
        background-color: rgb(95, 95, 95)
    }
}
